<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지키미 서비스</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header>
      <div>
        <span>지키미</span>
      </div>
    </header>
    <main>
      <article class="first">
        <section class="box">
          <a href="./lift">
            <span>리프트 사용 방법</span>
          </a>
        </section>
        <section class="box">
          <a href="./subway">
            <span
              >지하철 주변<br />
              지도</span
            >
          </a>
        </section>
        <section class="box">
          <a href="./money">
            <span>잔액 확인<br />방법</span>
          </a>
        </section>
      </article>
      <article class="second">
        <section class="box">
          <a href="./sub_arrive">
            <span>지하철 도착시간 조회</span>
          </a>
        </section>
        <section class="box">
          <a href="./wheel">
            <span>휠체어 택시 정보 제공</span>
          </a>
        </section>
      </article>
    </main>
  </body>
</html>
