<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지키미 서비스</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header>
      <div>
        <span>어린이대공원역 지키미</span>
      </div>
    </header>
    <main>
      <section class="des">
        <p>원하시는 서비스를 선택하세요.</p>
      </section>
      <article class="first">
        <section class="box">
          <a href="./lift">
            <span>리프트 <br />사용 방법</span>
          </a>
        </section>
        <section class="box">
          <a href="./subway">
            <span>지하철 <br />주변 지도</span>
          </a>
        </section>
        <section class="box">
          <a href="./sub_arrive">
            <span>지하철 <br />도착시간 조회</span>
          </a>
        </section>
        <section class="box">
          <a href="./sub_busy">
            <span>지하철 <br />혼잡도 조회</span>
          </a>
        </section>
      </article>
    </main>
  </body>
</html>
