<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리프트 사용 방법</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header>
      <div>
        <span>어린이대공원역 지키미</span>
      </div>
    </header>
    <main class="lift_main">
      <section class="lift_des">
        <p>1. 스마트폰 앱 설치</p>
        <p>2. 블루투스 연결 후 우측 화면처럼 보이는지 확인</p>
        <p>3. 상승, 하강 버튼으로 리프트 작동시키기</p>
      </section>
      <section class="lift_img">
        <img src="./lift_app.png" />
      </section>
    </main>
    <footer>
      <a href="/">
        <i class="bi bi-house"></i>
        <span>메인화면으로</span>
      </a>
    </footer>
  </body>
</html>
