<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>잔액 확인 방법</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header>
      <div>
        <span>지키미</span>
      </div>
    </header>
    <main class="lift_main">
      <section class="lift_des">
        <p>1. nfc 태그에 교통카드 찍기</p>
      </section>
      <section class="lift_img">
        <img src="./lift_app.png" />
      </section>
    </main>
    <footer>
      <a href="/">
        <i class="bi bi-house"></i>
        <span>메인화면으로</span>
      </a>
    </footer>
  </body>
</html>
