<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>휠체어 택시 정보 제공</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header>
      <div>
        <span>지키미</span>
      </div>
    </header>

    <footer>
      <a href="/">
        <i class="bi bi-house"></i>
        <span>메인화면으로</span>
      </a>
    </footer>
  </body>
</html>
