@import "./footer.css";
@import "./lift.css";
@import "./sub_arr.css";
@import "./sub_state.css";

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #d6f4ff;

  font-family: "Noto Sans KR", sans-serif;
}

header {
  background-color: #1c364d;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

header div {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.index_main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.first {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding: 30px 50px;
}

.first section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
}

.first .box:first-child {
  background-color: #f5add0;
}

.first .box:nth-child(2) {
  background-color: #90db7d;
}

.first .box:nth-child(3) {
  background-color: #957ca6;
}

.first .box:last-child {
  background-color: #e29e21;
}

.first a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 130px;
  height: 140px;
  box-shadow: 1px 1px 1px black;
  border-radius: 10px;
  margin: 0 10px;
}

.box a {
  text-decoration-line: none;
}

.box a span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.box a span:hover {
  color: white;
}
