.des {
  margin: 0 auto;
}

.current_time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub_state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub_main section {
  margin-bottom: 40px;
}
